* {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  max-width: 800px;
  margin: auto;
  /* I'm making the heigh much larger than it needs to be so that you can see the "jump" to the bottom of the page */
  height: 2000px;
}

p {
  margin-top: 32px;
}

/* COLORS */
.blue {
  background-color: #81ADC8;
}

.orange {
  background-color: #CD4631;
}

.contrast-text {
  color: #F8F2DC;
}

/* ALIGNMENT */
.center {
  text-align: center;
}

/* OTHER ELEMENTS */
.headline {
  font-size: 3rem;
  padding-top: 32px;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
}

.footer {
  font-size: 2em;
  text-align: center;
  padding: 60px 0;
}

.about {
  
}

/* BUTTON STUFF*/
.bigger-button {
  padding: 8px;
}

.fancy-button {

}

.fancy-button:hover {
  background-color: darken(#eee, 10%);
  cursor: pointer; 
}
